/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.about {
    margin: 20px;
}

.about h2,
.about h3 {
    color: #333;
}

.about p {
    color: #666;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    header {
        padding: 10px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .about {
        margin: 10px;
    }
}
